@font-face {
    font-family: SCDream;
    src: url('./fonts/SCDream5.otf');
}

@font-face {
    font-family: Forte;
    src: url('./fonts/Forte MT Font Download.ttf');
    /* color: rgb(59, 59, 59) */
}