*{
    white-space: pre-line;
    text-align: center;
    background-color: #F2E5D5;
}

.mainText {
    margin-top: 20%;
    font-size: 56px;
}

.loginText {
    margin-top: 2%;
    font-size: 14px;
    color: #4e4d4d;
    text-decoration: none;
}

.startBtn {
    transition: 0.5s;
    margin-top: 6%;
    padding: 6px 20px;
    border-width: 1.6px;
    border-color: black;
    border-radius: 20px;
    background-color: #f0d596;
    font-size: 18px;
}

button:active {
    font-weight: bold;
}

.login1 {
    margin-top: 20%;
    font-size: 26px;
}

.login2 {
    margin-top: 2%;
    font-size: 18px;
    color: #568C7D;
}

Input {
    text-align:left;
    font-size: 14px;
    font-weight: bold;
    padding-left: 14px;
    height: 32px;
    width: 250px;
    margin-bottom: 4%;
    border-radius: 16px;
    border-style: solid;
    border-width: 1.6px;
    border-color: #898989;
    background-color: white;
}

#password {
    margin-bottom: 100px;
}

#loginLink {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-top: 6px;
    height: 42px;
    width: 270px;
    border-radius: 18px;
    border-style: none;
}